@using Agile.Logic
@using Agile.Web.Board
@using Agile.Entities
@model CardInfo

<div class="card" data-card="@Model.Lite.Key()" draggable="true">
    @if (Model.FirstImage != null)
    {
        <div class="card-image">
            <img src="@Url.Content(Model.FirstImage.FullWebPath)" />
        </div>
    }

    @if (Model.Tags.Any())
    {
        <ul class="card-tags">
            @foreach (var t in Model.Tags)
            {
                <li class="card-tag" data-tag="@t.ToLite().Key()" style="background-color:@t.Color.ToColor().ToHtml()" title="@t.Name"></li>
            }
        </ul>
    }
    <span>@Model.Title</span>
    @if (Model.HasDescription || Model.Comments > 0 || Model.Attachments > 0)
    {
        <ul class="card-icons">
            @if (Model.HasDescription)
            {
                <li title="@Html.PropertyNiceName((CardEntity c)=>c.Description)">
                    <span class="glyphicon glyphicon glyphicon-align-justify"></span>
                </li>
            }
            @if (Model.Comments > 0)
            {
                <li title="@typeof(CommentEntity).NicePluralName()">
                    <span class="glyphicon glyphicon-comment" gray></span><span>&nbsp;@Model.Comments</span>
                </li>
            }

            @if (Model.Attachments > 0)
            {
                <li title="@typeof(AttachmentEntity).NicePluralName()">
                    <span class="glyphicon glyphicon-paperclip"></span><span>&nbsp;@Model.Attachments</span>
                </li>
            }
        </ul>
    }
</div>